<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户登录</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">




</head>

<body>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: white;height: 768px;left:-100px;">
    <form class="form-signin" action="/addnews" method="post">
        <h2 class="form-signin-heading">发布新闻</h2>
        <input type="text" name="title" class="form-control" th:placeholder="新闻标题" required autofocus>

        <input type="text" name="content" class="form-control" th:placeholder="新闻内容" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">确认发布</button>
    </form>
</div>


</body>
</html>
